<!-- FOOTER -->
<footer class="footer section__gradient">
    <div class="container footer__container">
            <div class="footer__top">
                <div class="footer__item">
                    <a href="../index.html" class="footer__logo img">
                        <img src="../img/logo-white.svg" alt="" />
                    </a>
                    <a href="" class="section__button footer__button">Пройти тест</a>
                </div>
                <div class="footer__item">
                    <ul class="footer__menu">
                        <li><a href="../index.html">Підбір косметики</a></li>
                        <li><a href="">Навчання лікарів</a></li>
                        <li><a href="../service-face.html">Процедури </a></li>
                        <li><a href="">Новини </a></li>
                        <li><a href="">Школа догляду</a></li>
                        <li><a href="">Контакти</a></li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h2>Соціальні медіа</h2>
                    <div class="footer__social">
                        <a href="#" class="img"><img src="../img/telegram.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/whatsapp.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/viber.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/insta.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/youtube.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/facebook.svg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <ul class="footer__bottom-list">
                    <li><a href="">Політика конфіденційності</a></li>
                    <li><a href="">Договір публічної оферти</a></li>
                    <li><a href="">Доставка, Оплата, Повернення</a></li>
                </ul>
                <span>Copyright © 2010-2022. All rights reserved.</span>
            </div>
        </div>
</footer>
<!-- /FOOTER -->
