<!-- HEADER -->
<header class="header">
    <div class="container header__container">
        <div class="header__flex">
            <div class="header__mob">
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <a class="header__logo img" href="../index.html">
                    <img src="../img/logo-black.svg" alt="logo" />
                </a>
            </div>
            <div class="header__block" >
                <div class="header__menu-mob">
                    <ul class="header__menu">
                        <li class="header__item"><a href="../index.html">Підбір косметики</a></li>
                        <li class="header__item header__drop">
                            <a href="#">Процедури</a>
                            <ul class="header__submenu">
                                <li><a href="../service-eye.html">Кола та набряки під очима</a></li>
                                <li><a href="../service-lips.html">Губи для поцілунків</a></li>
                                <li><a href="../service-face.html">Зморшки, пропорції, контур обличчя</a></li>
                            </ul>

                        </li>
                        <li class="header__item"><a href="#">Школа догляду</a></li>
                        <li class="header__item "><a href="#">Навчання лікарів</a></li>
                        <li class="header__item "><a href="#">Для лікарів</a></li>
                        <li class="header__item "><a href="../blog.html">Блог</a></li>
                        <li class="header__item"><a href="#">Магазин</a></li>
                        <li class="header__item"><a class="header__auth" >Мій кабінет</a></li>
                        <li class="header__item "><a href="#">Контакти</a></li>
                    </ul>
                    <div class="header__social footer__social">
                        <a href="#" class="img"><img src="../img/telegram.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/whatsapp.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/viber.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/insta.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/youtube.svg" alt="" /></a>
                        <a href="#" class="img"><img src="../img/facebook.svg" alt="" /></a>
                    </div>
                </div>
                <a class="section__button section__button-transparent header__button start__test" href="../quiz.html"> Пройти тест </a>
            </div>
        </div>
    </div>
</header>

<!-- /HEADER -->

